<mat-card>
    <mat-card-title>
        Deseja realmente excluir este produto?
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [ngModel] = "product.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [ngModel] = "product.price" name="price" disabled>
        </mat-form-field>
    </form>

    <div class="Button-container">
        <button mat-raised-button  color="warn" (click)="deleteProduct()">Excluir</button>

        <button mat-raised-button  color="default" (click)="cancel()">Cancelar</button>
    </div>
</mat-card>
